:root {
	--bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
	font-family: "SUSE", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	background: #001915;
}

/* Custom CSS */
.wrapper {
	display: flex;
	width: 100%;
}

.main-container {
	height: calc(100vh - 24px);
}

.custom-card {
	border: 1px solid #E8ECF5;
}

.mini-avatar {
	width: 32px;
	height: 32px;
}

.small-avatar {
	width: 40px;
	height: 40px;
}

.pie-chart .apexcharts-canvas {
	height: 100% !important;
}

.mbsc-calendar {
	width: 100%;
}

.modal-dialog-scrollable .modal-content {
	max-height: max-content !important;
}

#player-medical-tab .nav-link:hover {
	color: #0C0C0D;
}

#player-medical-tab .nav-link.active {
	color: white !important;
	background-color: #3A6860;
}

table tr:last-child td {
    border-bottom: 0px !important;
}

table tr:last-child td:first-child, table tr:last-child td:last-child {
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
}

table.dataTable {
	margin: 0px !important;
}

.dataTables_wrapper {
	width: 100%;
}

table.dataTable th.dt-type-numeric, table.dataTable th.dt-type-date, table.dataTable td.dt-type-numeric, table.dataTable td.dt-type-date {
	text-align: left;
}

table.dataTable th.dt-type-numeric div.dt-column-header, table.dataTable th.dt-type-numeric div.dt-column-footer, table.dataTable th.dt-type-date div.dt-column-header, table.dataTable th.dt-type-date div.dt-column-footer, table.dataTable td.dt-type-numeric div.dt-column-header, table.dataTable td.dt-type-numeric div.dt-column-footer, table.dataTable td.dt-type-date div.dt-column-header, table.dataTable td.dt-type-date div.dt-column-footer {
	flex-direction: initial;
}

table.dataTable > thead > tr > th, table.dataTable > thead > tr > td {
	padding: 4px 8px;
}

table.dataTable > thead > tr > th, table.dataTable > thead > tr > th:first-child td {
	padding-left: 20px;
}

.dt-column-title {
	color: #A2A2A2;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px; /* 133.333% */
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
  float: right;
  margin-left: 5px;
}

.dt-layout-row {
	display: none;
}

div.dt-container div.dt-layout-row {
	margin: 0px;
}

/* Hide Mobiscroll default weekday label above date */
.mbsc-calendar-week-day {
    display: none;
}

/* Move weekday under the date using ::after */
.mbsc-calendar-week-day-title {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mbsc-calendar-week-day-title::after {
	content: attr(data-weekday);
	font-size: 12px;
	color: #888;
	margin-top: 2px;
}

/* Hide the "TRIAL" label from free version — visual only */
.mbsc-ltr .mbsc-calendar-week-day-label {
	display: none !important;
}

.medium-bg-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.mini-card-bg-gradient {
	background: linear-gradient(to bottom, white, #F5F6FB);
}

.mini-avatar-card {
	width: calc(100% - 8px);
	height: calc(100% - 8px);
	top: 4px;
	left: 4px;
}

.img-card-bg-gradient {
	background: linear-gradient(to bottom, rgba(0,25,21,0.5), rgba(10,61,53,0.8));
}

.bg-img {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 12px; /* match your image's radius */
	z-index: 1;
}

.custom-tab-content {
	overflow-y: auto;
	scrollbar-width: thin;
    scrollbar-color: #CCDDDA #ffffff;
	margin-right: -12px;
    box-sizing: content-box;
}

.custom-tab-content::-webkit-scrollbar-button {
  display: none;
}

.custom-tab-content::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.bootstrap-select .dropdown-menu {
	background-color: white;
	padding: 0px;
}

.bootstrap-select>.dropdown-toggle {
	background-color: white;
	padding: 14px 10px;
	color: #2E2E2F;
	max-height: 45px;
}

.bootstrap-select .dropdown-menu li:hover {
	background-color: #F9FAFB;
}

.bootstrap-select .dropdown-menu .average-min-series:hover, .bootstrap-select .dropdown-menu .num-injury-series:hover {
	background-color: #F9FAFB;
}

.bootstrap-select .dropdown-menu .dropdown-item.active, .bootstrap-select .dropdown-menu .dropdown-item.active {
	background-color: #F9FAFB;
	color: #2E2E2F;
}

.bootstrap-select .bs-ok-default:after {
	color: #68E0C9;
	border-width: 0 .16em .16em 0;
	margin-top: 6px;
}

.bootstrap-select .dropdown-menu li a {
	padding: 10px 14px;
}

#notifications-modal-tab-content-container {
	height: 600px;
}

#raidal-bar-chart, #chart {
	width: 100%;
	height: 110px;
}

#raidal-bar-chart .apexcharts-canvas, #chart .apexcharts-canvas {
	height: 110px !important;
}

#raidal-bar-chart-license-text {
	display: none;
}

.modal-notifications {
	margin-left: auto;
	margin-right: 120px;
	margin-top: 130px;
}

.modal.show {
	background: rgba(0, 25, 21, 0.20);
}

#report-issue-modal.show {
	background: rgba(0, 25, 21, 0.90);
}

.needle-container {
	width: 40px;
	height: 140px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform-origin: bottom center;
	transform: translateX(-50%) rotate(0deg);
}

#needle {
	width: 40px;
	height: 50px;
	background: linear-gradient(to right, #F9B5D0, #F7E5A3);
	border: 2px solid white;
	clip-path: polygon(8% 0%, 90% 0%, 75% 100%, 27% 100%);
	z-index: 10;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) and (max-width: 1099px) {
	.tab-medium-card-container {
		width: 100%;
	}

	.tab-mini-card-container {
		width: 100%;
	}
}

@media screen and (min-width: 1100px) and (max-width: 1279px) {
	.tab-medium-card-container {
		width: 100%;
	}

	.tab-mini-card-container {
		width: calc((100% - 8px) / 2);
	}
}

@media screen and (min-width: 1280px) and (max-width: 1399px) {
	.tab-medium-card-container {
		width: calc((100% - 8px) / 2);
	}

	.tab-mini-card-container {
		width: calc((100% - 16px) / 3);
	}
}

@media screen and (min-width: 768px) and (max-width: 1399px) {
	.custom-md-card {
		border: 1px solid #E8ECF5;
	}

    .custom-tab-content {
        padding-right: 12px;
    }
}

@media screen and (min-width: 1400px) {
    .custom-tab-content {
        padding-right: 4px;
    }
}

.content {
	padding-top: 20px;
}

img.menu-icon {
	width: 16px;
	margin-left: 10px;
	margin-right: 10px;
}

.sidebar-break {
	width: 100%;
	border-bottom: 1px solid #162d29ed;
	margin-top: 15px;
}

.header {
	background-color: #f8f8fc;
	padding: 20px;
	display: flex;
	padding-left: 0px;
	padding-right: 0px;
}

.header-back-btn {
	width: 50px;
	height: 50px;
	border-radius: 8px;
	border: none;
	background: white;
	box-shadow: 1px 1px 5px 1px #00000012;
	margin-right:10px;
}

.header-back-btn:hover {
	background: #b7e9e2;
}

.header-chat-btn {
	margin-left: auto;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	background: white;
	border: 1px solid #f1f1f1f2;
	position: relative;
}

.header-chat-btn:hover {
	background: #b7e9e2;
}

.online-status {
	width: 5px;
	height: 5px;
	background: #73df8a;
	position: absolute;
	right: 10px;
	border-radius: 100%;
}

.card {
	border-radius: 15px !important;
	border: 2px solid #ebeef6;
}

.card-header {
	background: #ffffff !important;
	border-top-left-radius: 15px !important;
	border-top-right-radius: 15px !important;
	border-bottom: 1px solid #cfd9d800 !important;
	height: 45px;
	padding: 12px !important;
	font-size: 21px;
	font-weight: 600;
	padding-left: 24px !important;
	padding-top: 25px !important;
}


.dropdown-menu.dropdown-menu-end.show {
	background: #183732;
}


/* Custom scrollbar for WebKit browsers (Chrome, Safari, Edge) */
.player-scroller::-webkit-scrollbar {
	width: 10px; /* Width of the scrollbar */
}

.player-scroller::-webkit-scrollbar-thumb {
	background-color: #d5e5e3; /* Color of the scrollbar thumb */
	border-radius: 15px; /* Rounded corners */
	border: 2px solid #fff; /* Optional: border around the thumb */
}

.player-scroller::-webkit-scrollbar-track {
	background-color: #ffffff; /* Background of the scrollbar track */
}

/* Custom scrollbar for Firefox */
.player-scroller {
	scrollbar-width: thin; /* Make scrollbar thinner */
	scrollbar-color: #d5e5e3 #ffffff; /* Thumb color and track color */
}

.player-scroller {
	height: 70vh;
	overflow-y: auto;
	border: 1px solid #ccc;
	border: none;
}

.player-item {
	display: flex;
	align-items: center;
	padding: 5px;
	border-bottom: 1px solid #e8ecf5;
	border: none;
	background: #fcfdfe;
	border: 2px solid #e8ecf5ba;
	margin-bottom: 7px;
	border-radius: 16px;
	margin-left: 7px;
	margin-right: 3px;
	cursor: pointer;
	
	cursor: pointer;
	padding: 8px;
	border: 1px solid #e8ecf5;
	border-radius: 12px !important;
	background: rgb(254, 254, 255) !important;
	background: linear-gradient(180deg, rgba(254, 254, 255, 1) 0%, rgba(245, 246, 251, 1) 100%) !important;
	padding-top:4px;
	padding-bottom:4px;
}

.player-item img {
	width: 40px; /* Avatar size */
	height: 40px; /* Avatar size */
	border-radius: 50%; /* Circular avatar */
	margin-right: 10px; /* Spacing between image and name */
}

.player-info {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

.player-name {
	font-weight: 600;
	cursor: pointer;
	text-decoration: none !important;
	margin-top:3px;
}

.player-position {
	font-size: 0.85rem;
	color: #6c757d;
	margin-left: inherit;
	text-align: right;
	display: flex;
	padding: 5px;
	padding-left: 7px;
	padding-right: 7px;
	border-radius: 12px;
	border: 1px solid #f0f8f6;
	font-size: 13px;
}

.goalkeeper-position {
	background: #f5fdfb;
	color: #84e5d3;
}

.defender-position {
	background: #f6f5fd;
	color: #9684e5;
} 

.midfield-position {
	background: #faefce99;
	color: #d8b34d;
}

.forwards-position {
	background: #e584851f;
	color: #e58485;
}
	
a {
	text-decoration: none;
}

.news-container {
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	gap: 1.5rem;
	padding: 2rem;
}

.main-news-card {
	position: relative;
	overflow: hidden;
	border-radius: 12px;
	height: 45vh;
}

.main-news-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.main-news-card-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(10 54 46 / 68%);
	color: #fff;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main-news-card-date {
	background-color: #fff;
	color: #333;
	font-weight: bold;
	padding: 0.5rem;
	border-radius: 8px;
	display: inline-block;
}

.main-news-card-category {
	background-color: #6cd3ad;
	color: #fff;
	font-weight: bold;
	padding: 0.25rem 0.5rem;
	border-radius: 4px;
	display: inline-block;
}

.side-news-cards {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.side-news-card {
	flex: 1 1 calc(50% - 1rem);
	border-radius: 12px;
	overflow: hidden;
	position: relative;
}

.side-news-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.side-news-card-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	background: rgb(10 54 46 / 68%);
	color: #fff;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.side-news-card-category {
	background-color: #6cd3ad;
	color: #fff;
	font-weight: bold;
	padding: 0.25rem 0.5rem;
	border-radius: 4px;
	display: inline-block;
}

.modal-header {
	border-bottom: none;
}

.modal-dialog {
	max-width: max-content;
}

.image-upload {
	background-color: #e9f7f7;
	border: 2px dashed #90d6d4;
	padding: 2rem;
	text-align: center;
	border-radius: 12px;
	margin-bottom: 2rem;
}

.image-upload button {
	margin-top: 1rem;
}

.image-upload .info-text {
	font-size: 0.9rem;
	color: #6c757d;
}

.rich-text-editor {
	padding: 1rem;
	border: 1px solid #dee2e6;
	border-radius: 8px;
	background-color: #fff;
}

.btn-success {
	background: #3a6860;
	color: white;
	border-radius: 10px;
	font-size: 12px;
	height: 37px;
	margin-top: -5px;
}

#calendar {
  max-width: 900px;
  margin: 0 auto;
}

.fc-event {
  font-size: 14px;
  border-radius: 8px;
  padding: 5px;
}

.fc .fc-col-header-cell-cushion {
	display: inline-block;
	padding: 2px 4px;
	font-size: 12px;
	color: #000000;
	text-decoration: none !important;
}

#view-toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.toggle-button {
	padding: 7px 16px;
	margin: 0 5px;
	border: 1px solid #f8f8fc;
	background-color: #f8f8fc;
	cursor: pointer;
	border-radius: 12px;
	font-size: 14px;
	font-weight: 600;
}

.toggle-button.active {
	background-color: #ffffff;
	color: #000000;
	border-color: #ffffff;
	border: 1px solid #80808014;
}

.fc .fc-scrollgrid {
	border-bottom-width: 0px;
	border-collapse: separate;
	border-right-width: 0px;
	border:none !important;
}
	
ul#pills-tab {
	position: absolute;
	top: 12px;
	right: 35px;
	background: #f7f7fb;
	border-radius: 10px;
	height: 50px;
	padding: 5px;
}

.nav-link {
	color: #000000;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color: #000000;
	background-color: #ffffff;
	border-radius: 10px;
	border: 1px solid #f0f3f7;
}

.fc-scroller {
  overflow-y: scroll;
}

/* Change background color for events (optional) */
.fc-event {
  background-color: #A4D4AE !important;
  border-color: #A4D4AE !important;
}

/* Customize event content */
.fc-event-title {
  font-weight: bold;
  font-size: 14px;
}

.fc-timegrid-col-frame {
	background: #ffffff;
}

.fc-timegrid-slot-label-cushion.fc-scrollgrid-shrink-cushion {
	color: #606060;
	font-size: 13px;
	font-weight: 500;
}

/* Change the color of the now indicator line */
.fc-now-indicator {
	background-color: #1d403b !important; /* Change to your desired color */
}

/* Optional: Customize the dot at the top of the now indicator line */
.fc-now-indicator-arrow {
	border-top-color: #1d403b !important; /* Change to your desired color */
}

/* Optional: Customize the shadow effect of the now indicator */
.fc-now-indicator-shadow {
	background-color: rgba(29 64 59, 0.3) !important; /* Semi-transparent red */
}

.fc-direction-ltr .fc-timegrid-now-indicator-arrow {

	left: 0;

	border-width: 10px 33px 10px 11px;

	border-radius: 0px 10px 10px 0px;

	opacity: .7;

}

.fc .fc-timegrid-now-indicator-arrow {

	position: absolute;

	z-index: 4;

	margin-top: -10px;

	border-style: solid;

	border-color: #1d403b;
	display:none;
}

.fc .fc-timegrid-now-indicator-line {

	opacity: 1;

	position: absolute;

	z-index: 4;

	left: 0;

	right: 0;

	margin-top: -2px;

	border-style: solid;

	border-color: #73a8a1;

	border-color: var( — fc-now-indicator-color,#73a8a1);

	border-width: 3px 0 0;

}

.calendar-day {
	text-align: center;
	padding: 12px;
	background: #CCDDDA;
	color: #181818;
	border-radius: 7px;
	line-height: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.select-date {
	border: 1px solid #eff0f4;
	padding: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 12px;
}

.week-view-cell {
	display: flex;
	flex-direction: column-reverse;
	width: 50px !important;
	height: 50px !important;
	border: 1px solid #F3F3F3;
	border-radius: 100px;
	align-items: center;
	justify-content: center;
}

.week-view-cell:has(.week-view-selected) {
	background-color: #CCDDDA !important;
}

.week-view-cell:has(.week-view-selected) .week-view-day {
	color: #3A6860 !important;
}

.week-view-date {
	width: auto !important;
    height: auto !important;
    line-height: 100% !important;
	font-size: 14px !important;
	color: #3A3A3B !important;
	font-weight: 400;
	margin: 0px !important;
}

.week-view-date.week-view-selected {
	background-color: transparent !important;
	border: none !important;
	color: #000;
	text-align: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.week-view-day {
	color: #C5C5C5;
	text-align: center;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
	margin: 0px !important;
}