body {
	font-family: "SUSE", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	background: #001915;
}

.login-custom-container {
    background-image: url('../png/opn_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (min-width: 1920px) {

}